.demo {
  margin-top: 20px;
  margin-left: auto;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;

  &__pagination {
    height: 60px;
    width: 100%;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
  }

  &__btn-pagination {
    font-size: 16px;
    font-family: cursive;
    padding: 2px 10px;
    border: 3px solid #48d76b;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;

    &:disabled {
      color: gray;
      cursor: default;

      &:hover {
        border: 3px solid #48d76b;
        color: gray;
        background: #264a83;
      }
    }

    &:hover {
      border: 3px solid #264a83;
      color: #264a83;
      background: #48d76b;
      transition: .3s;
    }
  }
}

.box {
  display: flex;
  height: 502px;
}
