.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 350px;
  border: 1px solid #48d76b;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;

  &__name {
    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__stats {
    text-align: left;
    font-weight: lighter;
  }
}
