.search {
  position: relative;
  margin: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive;

  &__title {
    font-size: 48px;
  }

  &__block {
    margin-top: 40px;
    display: flex;
    column-gap: 10px;
    font-size: 18px;
    background: #264a83;
    box-sizing: border-box;
  }

  &__input {
    padding: 5px 10px;
    border: 3px solid #48d76b;
    border-radius: 15px;
  }

  &__btn {
    padding: 2px 5px;
    border: 3px solid #48d76b;
    border-radius: 15px;
    color: #48d76b;
    cursor: pointer;
    transition: 0.3s;

    &:disabled {
      transition: 0.3s;
      color: gray;
      cursor: default;
    }
  }

  &__err-btn {
    position: absolute;
    top: 0;
    left: 20px;
    color: red;
    width: 50px;
    font-size: 14px;
    padding: 2px 5px;
    border: 3px solid red;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
  }
}
